<h1>About the Wolf Directory</h1>
<p>This directory is to keep track of all wolves currently alive out in the wild or those who existed. Add entries of wolves you have seen or wolves you know about. You can browse the directory at any time, but you must be signed in to add, edit or delete an entry.</p>
<p>Don't have an account? No problem! Just go to the sign in page and click Register.</p>
