<h1>TC359 Final Project Home</h1>
<p>Welcome to the home page of my final project for TC 359.</p>
<p>It looks like it's <strong><%= current_date_and_time %></strong>. Time for you to explore the rest of the site!</p>
<p>Feel free to add records to the Wolf Directory about wolves who are still alive or those who were. However, in order to add, edit or delete records from the database you need to have an account and sign in.</p>
